version: "3.8"

services:
  redmine:
    image: sameersbn/redmine:latest
    restart: always

    ports:
      - "${PORT}:3000"

    environment:
      # Run in development instead of production
      RAILS_ENV: development

      # Database (Railway MySQL Plugin)
      DB_ADAPTER: mysql2
      DB_HOST: ${MYSQLHOST}
      DB_PORT: ${MYSQLPORT}
      DB_NAME: ${MYSQLDATABASE}
      DB_USER: ${MYSQLUSER}
      DB_PASS: ${MYSQLPASSWORD}

      # Optional: relative URL root
      REDMINE_RELATIVE_URL_ROOT: ""
