version: "3.8"

services:
  redmine:
    build: .
    restart: always

    environment:
      REDMINE_DB_MYSQL: ${MYSQLHOST}
      REDMINE_DB_PORT: ${MYSQLPORT}
      REDMINE_DB_DATABASE: ${MYSQLDATABASE}
      REDMINE_DB_USERNAME: ${MYSQLUSER}
      REDMINE_DB_PASSWORD: ${MYSQLPASSWORD}
      REDMINE_SECRET_KEY_BASE: ${REDMINE_SECRET_KEY_BASE}

    ports:
      - "${PORT}:3000"
